<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    </head>
    <body>

        <h1 id="username">{{ username }}</h1>
        <p id="values">Height: {{ height }}cm Weight: {{ weight }}kg</p>
        <h2 id="name">{{ name }}</h2>

        <div id="bikes">
            <h1 class="header">Bikes</h1>
            {{#each bikeList}}
            <div class="bike">
                <h2>Brand: {{ this.brand }}</h2>
                <h2>Model: {{ this.model }}</h2>
                <h3>Price: ${{ this.price }}</h3>
            </div>
            {{/each}}
            <button id="newBike">Add Bike</button>

        <div id="newBikeWindows" class="test">
           <form action="/addNewBike" method="POST">
                <select name="bike">
                    {{#each bikes}}
                    <option value="{{ this.id }}">{{this.brand}} | {{this.model}}</option>
                    {{/each}}
                </select>
                    <button type="submit">Add</button>
            </form>
            <button id="close">Close</button>
        </div>
        </div>

        <div id="runBox">
            <h1 class="header">Run Info</h1>
            <h2>Threshold: {{ pace }}</h2>
            <h2>Training shoe: {{ trainingShoe }}</h2>
            <h2>Racing shoe: {{ racingShoe }}</h2>
            <button id="newBike">Change info</button>
        </div>
    </body>

    <script type="text/javascript" src="/js/profile.js"></script>
</html>