<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    </head>
    <body>

        <h1 id="username">{{ username }}</h1>
        <p id="values">Height: {{ height }}cm Weight: {{ weight }}kg</p>
        <h2 id="name">{{ name }}</h2>

        <div id="bikes">
            <h1 class="header">Bikes</h1>
            {{#each bikeList}}
            <div class="bike">
                <h2>Brand: {{ this.brand }}</h2>
                <h2>Model: {{ this.model }}</h2>
                <h3>Price: ${{ this.price }}</h3>
            </div>
            {{/each}}
            <button id="newBike">Add Bike</button>

        <div id="newBikeWindows" class="test">
            <h2>Bike</h2>
           <form action="/addNewBike" method="POST">
                <select name="bike">
                    {{#each bikes}}
                    <option value="{{ this.id }}">{{this.brand}} | {{this.model}}</option>
                    {{/each}}
                </select>
                <br>
                    <button type="submit">Add</button>
            </form>
            <button id="close">Close</button>
        </div>
        </div>

        <div id="runBox">
            <h1 class="header">Run Info</h1>
            <h2 class="runHeadder">Threshold: </h2>
            <p id="paceP">{{ pace }}</p>
            <br></br>
            <h2 class="runHeadder">Training shoe: </h2>
            <p id="trainingShoeP">{{ trainingShoe }}</p>
            <br></br>
            <h2 class="runHeadder">Racing shoe: </h2>
            <p id="racingShoeP">{{ racingShoe }}</p>
            <br>
            <button id="runBtn">Change info</button>

            <div id="changeRunInfoWIndow">
                <h2>Shoes</h2>
                <form action="/chnageRunInfo" method="POST">
                <label class="shoeLabel" for="trainingShoe">Training shoe:</label>
                    <input type="text" placeholder="Training Shoe" name="trainingShoe" class="chnageRunInput" id="trainingShoe">
                    <br>
                    <label class="shoeLabel" for="racingShoe">Racing shoe:</label>
                    <input type="text" placeholder="Racing Shoe" name="racingShoe" class="chnageRunInput" id="racingShoe">

                    <br></br>

                <h2>Threshold</h2>
                    <input placeholder="Min" name="min" type="number" class="chnageRunInput" id="min" value="4">
                    <input placeholder="sec" name="sec" type="number" class="chnageRunInput" id="sec" value="20">
                    <br>
                    <button type="submit">Change</button>
                </form>

                <button id="closeRun">Close</button>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="/js/profile.js"></script>
</html>