<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    </head>
    <body>

        <div id="menuBar">
            <a href="/stats" class="menuButton" id="statsBtn">Stats</a>
            <br>
            <form method="POST" action="/logout">
            <button id="logout" type="submit">Logout</button>
            </form>
        </div>

    <div id="profileContainer">
        <h1 id="username">{{ username }}</h1>
        <p class="profileValues">Height:</p>
        <p class="profileValues" id="heightValue">{{ height }}</p>
        <p class="profileValues">cm</p>
        <p class="profileValues">Weight:</p>
        <p class="profileValues" id="weightValue">{{ weight }}</p>
        <p class="profileValues">kg</p>

            <button id="editHW">Edit</button>

        <div id="editHWContainer" class="editContainer">
            <form method="POST" action="/editProfile">
                    <label class="shoeLabel" for="weight">Weight (kg)</label>
                    <input type="number" placeholder="Weight" name="weight" class="chnageInput" id="weight">
                    <br>
                    <label class="shoeLabel" for="height">Height (cm)</label>
                    <input type="number" placeholder="Height" name="height" class="chnageInput" id="height">
                    <br>
                    <button type="submit">Edit</button>
            </form>
            <button id="closeEditProfile">Close</button>
        </div>
        <h2 id="name">{{ name }}</h2>
    </div>

        <div id="bikes" class="container">
            <h1 class="header">Bikes</h1>
            {{#each bikeList}}
            <div class="bike">
                <h2>Brand: {{ this.brand }}</h2>
                <h2>Model: {{ this.model }} | {{ this.manfyear }}</h2>
                <h3>Price: ${{ this.price }}</h3>
            </div>
            {{/each}}
            <button id="newBike">Add Bike</button>

        <div id="newBikeWindows" class="editContainer">
            <h2>Bike</h2>
           <form action="/addNewBike" method="POST">
                <select name="bike">
                    {{#each bikes}}
                    <option value="{{ this.id }}">{{this.brand}} | {{this.model}} | {{this.manfyear}}</option>
                    {{/each}}
                </select>
                <br>
                    <button type="submit">Add</button>
            </form>
            <button id="close">Close</button>
        </div>
        </div>

        <div id="runBox" class="container">
            <h1 class="header">Run Info</h1>
            <h2 class="runHeadder">Threshold: </h2>
            <p id="paceP">{{ pace }}</p>
            <br></br>
            <h2 class="runHeadder">Training shoe: </h2>
            <p id="trainingShoeP">{{ trainingShoe }}</p>
            <br></br>
            <h2 class="runHeadder">Racing shoe: </h2>
            <p id="racingShoeP">{{ racingShoe }}</p>
            <br>
            <button id="runBtn">Change info</button>

            <div id="changeRunInfoWIndow" class="container">
                <h2>Shoes</h2>
                <form action="/chnageRunInfo" method="POST">
                <label class="shoeLabel" for="trainingShoe">Training shoe:</label>
                    <input type="text" placeholder="Training Shoe" name="trainingShoe" class="chnageInput" id="trainingShoe">
                    <br>
                    <label class="shoeLabel" for="racingShoe">Racing shoe:</label>
                    <input type="text" placeholder="Racing Shoe" name="racingShoe" class="chnageInput" id="racingShoe">

                    <br></br>

                <h2>Threshold</h2>
                    <input placeholder="Min" name="min" type="number" class="chnageInput" id="min" value="4">
                    <input placeholder="sec" name="sec" type="number" class="chnageInput" id="sec" value="20">
                    <br>
                    <button type="submit">Change</button>
                </form>

                <button id="closeRun">Close</button>
            </div>
        </div>

        <div id="swimBox" class="container">
            <h1 class="header">Swim Info</h1>
            <h2 class="runHeadder">Threshold: </h2>
            <p id="paceP">{{ swimPace }}</p>
            <br></br>
            <h2 class="runHeadder">Wetsuit: </h2>
            <p id="wetsuitP">{{ wetsuit }}</p>
            <br>
            <button id="swimBtn">Change info</button>

            <div id="changeSwimInfo" class="editContainer">

                <form action="/chnageSwimInfo" method="POST">
                <h2>Wetsuit</h2>
                    <input type="text" placeholder="Wetsuit" name="wetsuit" class="chnageInput" id="wetsuit">

                <h2>Threshold</h2>
                    <input placeholder="Min" name="min" type="number" class="chnageInput" id="min" value="1">
                    <input placeholder="sec" name="sec" type="number" class="chnageInput" id="sec" value="20">
                    <br>
                    <button type="submit">Change</button>
                </form>

                <button id="closeSwim">Close</button>
            </div>
        </div>

        <div class="container" id="eventContainer">
            <h1 id="eventHeader">Events</h1>

            {{#each events}}
            <div class="eventBox">
                <h2 class="qHeader">{{this.brand}}</h2>
                <h3 class="qHeader">{{this.distance}}</h3>
                <h3 class="qHeader">({{this.location}}</h3>
                <h3 class="qHeader">{{this.date}})</h3>

                <table style="width:100%">
  <tr>
    <th>Swim Time</th>
    <th>T1</th> 
    <th>Bike Time</th>
    <th>T2</th>
    <th>Run Time</th>
  </tr>
  <tr>
    <td class="eventSwimTime">{{this.swimTime}}</td>
    <td class="eventT1Time">{{this.T1}}</td>
    <td class="eventBikeTime">{{this.bikeTime}}</td>
    <td class="eventT2Time">{{this.T2}}</td>
    <td class="eventRunTime">{{this.runTime}}</td>
  </tr>
</table>
            </div>
            {{/each}}

            <button id="addEvent">+</button>
        </div>

        <div id="addEventContainer" class="editContainer">
                
                <form method="POST" action="/addNewEvent">
                <h2>Event</h2>
                <select name="event">
                    {{#each allEvents}}
                    <option value="{{ this.id }}">{{this.brand}} | {{this.distance}} ({{this.location}} {{this.date}})</option>
                    {{/each}}
                    </select>

                    <p class="addEventP">Swim time (sec)</p>
                    <input placeholder="Swim Time (sec)" name="swimTime" type="number" class="chnageInput" value="3600">
                    <p class="addEventP">T1 (sec)</p>
                    <input placeholder="T1 (sec)" name="T1" type="number" class="chnageInput" value="180">
                    <p class="addEventP">Bike time (sec)</p>
                    <input placeholder="Bike Time (sec)" name="bikeTime" type="number" class="chnageInput" value="18000">
                    <p class="addEventP">T2 (sec)</p>
                    <input placeholder="T2 (sec)" name="T2" type="number" class="chnageInput" value="210">
                    <p class="addEventP">Run time (sec)</p>
                    <input placeholder="Run Time (sec)" name="runTime" type="number" class="chnageInput" value="10800">

                    <br>
                     <button type="submit">Add Event</button>
                </form>

                <button id="closeEvent">Close</button>
            </div>
    </body>

    <script type="text/javascript" src="/js/profile.js"></script>
</html>