<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/stats.css">
    </head>
    <body>

        <h1 id="home"><a href="/">Home</a></h1>

        <div class="container">
            <h2>Most popular bikes</h2>
            <ol>
                {{#each mostPopularBikes}}
                    <li class="list">{{this.brand}} | {{this.model}} | {{this.manfyear}}</li>
                {{/each}}
            </ol>
        </div>

        <div class="container">
            <h2>Most popular accessories</h2>

            <h3 class="acces">Wetsuit:</h3>
            <p class="acces">{{ mostPopularWetsuit }}</p>
            <br>
            <h3 class="acces">Training shoe:</h3>
            <p class="acces">{{ mostPopularTrainingShoe }}</p>
            <br>
            <h3 class="acces">Racing shoe:</h3>
            <p class="acces">{{ mostPopularRacingShoe }}</p>
        </div>

        <div class="container" id="eventContainer">
            <h2>Most popular events</h2>

             <ol>
                {{#each mostPopularEvents}}
                    <li class="list">{{this.brand}} | {{this.distance}} ({{this.location}} {{this.date}})</li>
                {{/each}}
            </ol>

        </div>

        <div class="container">
            <h2>All users</h2>

           <ul>
                {{#each allUsers}}
                    <li class="list">{{ this.first_name }} {{ this.last_name }} <a href="/profile/{{ this.username }}">({{ this.username }})</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="container">
            <h2>Fastest runners</h2>
            <p class="info">(Only runners that have set their pace is shown!)</p>

            <ol>
                {{#each fastestRunners}}
                    <li class="list"><a href="/profile/{{ this.username }}">{{ this.username }}</a> - <p class="times">{{ this.pace }}</p></li>
                {{/each}}
            </ol>

        </div>

        <div class="container">
            <h2>Fastest swimmers</h2>
            <p class="info">(Only swimmers that have set their pace is shown!)</p>
            <ol>
                {{#each fastestSwimmers}}
                    <li class="list"><a href="/profile/{{ this.username }}">{{ this.username }}</a> - <p class="times">{{ this.pace }}</p></li>
                {{/each}}
            </ol>
        </div>

    </body>
    <script type="text/javascript" src="/js/stats.js"></script>
</html>